<!DOCTYPE html>
<html lang="ko">
<head>
    <title>ONEYO</title>
    <style>
        h1 {color : green}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header" role="banner">
            <div class="logo_space">
                <div class="group_flex">
                    <div class="logo_area">
                        <h1 id="logo">
                            <!--href 추가하기-->
                            <a href="http:/localhost:8000" class="logo_oneyo" data-clk="top.logo">
                            <b>ONEYO</b>
                            </a>
                        </h1>
                    </div>
                    <div class="my_page">
                        <!--href 추가하기-->
                        <a id="my_page" class="link_set" data-clk="top.mypage">My Page</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" role="search">
            <div id="search" class="search_area">
                <form id="search_form" name="search_form" method="get" role="search">
                    <input type="text" name="search">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>